.stroke-text-gray {
      -webkit-text-stroke: 1px #d4d4d4;
      /* neutral-300 */
    }

    .dark .stroke-text-gray {
      -webkit-text-stroke: 1px #262626;
      /* neutral-800 */
    }

    @keyframes fadeInUp {
      from {
        opacity: 0;
        transform: translateY(30px);
      }

      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .animate-reveal {
      opacity: 0;
      animation: fadeInUp 0.8s cubic-bezier(0.2, 0.8, 0.2, 1) forwards;
    }